.barra_nav{
    display: flex;
    flex-direction: column;       
    width: 250px;
    height: 650px; /* la altura va a tener que ser modificada una vez que el sitio tenga contenido */
    background-color: #161712;
    position: relative;
    
}

.barra_nav h1 {
    color: #edfb22;
    text-shadow: 1px 1px 2px #7c5c74;
}

.barra_nav button {
    margin-bottom: 15px;
    width: 70%;
    padding: 5px;
    margin-right: auto;
    margin-left: auto;
    background-color: #edfb22;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 5%;
}

.redes {
    position: absolute;
    bottom: 0;      
    right: 0;
    left: 0;    
    text-align: center;
}

.redes h3 {
    font-size: 18px;    
}

.redes h3 a {
    text-decoration: none;   
    color: #7c5c74
}